<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.lonamiwebs.stringlate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="21" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".activities.repositories.RepositoriesActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Launch Stringlate from another application -->
            <intent-filter>
                <action android:name="io.github.lonamiwebs.stringlate.TRANSLATE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <!-- Launch Stringlate from clicking a special URL:
                 https://lonamiwebs.github.io/stringlate/translate?git={git repo url} -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="lonamiwebs.github.io"
                    android:pathPattern="/stringlate/translate.*"
                    android:scheme="https" />

            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DiscoverActivity"
            android:label="@string/discover">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".activities.translate.TranslateActivity" />
        <activity android:name=".activities.export.CreateGistActivity" />
        <activity android:name=".activities.info.BrowserActivity" />
        <activity android:name=".activities.translate.SearchStringActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.oauth"
                    android:scheme="stringlate" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.export.CreateIssueActivity"
            android:label="@string/create_issue" />
        <activity
            android:name=".activities.export.CreatePullRequestActivity"
            android:label="@string/create_pr" />
        <activity android:name=".activities.export.CreateUrlActivity" />
        <activity android:name=".activities.translate.PeekTranslationsActivity" />
    </application>
</manifest>
