<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.lonamiwebs.stringlate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.repositories.RepositoriesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.com"
                    android:pathPattern="/.*/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DiscoverActivity"
            android:label="@string/discover"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.translate.TranslateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.export.CreateGistActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.OnlineHelpActivity" />
        <activity android:name=".activities.translate.SearchStringActivity" />
        <activity
            android:name=".activities.GitHubLoginActivity"
            android:label="@string/login_to_github">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.oauth"
                    android:scheme="stringlate" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.export.CreateIssueActivity"
            android:label="@string/create_issue"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.export.CreatePullRequestActivity"
            android:label="@string/create_pr"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.export.CreateUrlSuccessActivity" />
    </application>
</manifest>
